{% extends "base.html" %}
{%load crispy_forms_tags %} 
{% block content %}
<div class="container h-120" style="margin-top: 150px;">

    <div class="row h-100">
        <div class="col-5">
            <img src="{{kitob.img.url}}" alt="" style="width: 100%; height: 80vh;">
        </div>
        <div class="col">
            <h2 style="color: rgb(89, 255, 0);">{{kitob.name}}</h2>
            <hr>
            <div>
                <span style="font-size: 20px; font-weight: 900;">Til:</span>
                <i style="font-size: 21px; color: rgb(255, 6, 6);">{{kitob.til}}</i>
            </div>
            <div>
                <span style="font-size: 20px; font-weight: 900;">Layklar soni:</span>
                <i style="font-size: 21px; color: rgb(17, 0, 255);">{{kitob.like_number}}</i>
            </div>
            <p style="font-size: 16px;">{{kitob.body|slice:1100}}</p>
            <div style="display: flex; justify-content: space-between;">
                <p><span style="font-size: 14px; font-weight: 900;">Yarilgan sana:</span>
                    <i style="font-size: 16px; color: rgb(17, 0, 255);">{{kitob.create_date}}</i>
                </p>
                <p>
                    <span style="font-size: 14px; font-weight: 900;">O'zgartirilgan sana:</span>
                    <i style="font-size: 16px; color: rgb(17, 0, 255);">{{kitob.update_date}}</i>
                </p>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-6" style="background-color: rgb(187, 188, 189); padding: 10px;">
                <form action="{%url 'kitob:add_comment' kitob.id %}" method="post">
                    {%csrf_token%}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-primary w-100">Add Comment</button>
                </form>
            </div>
        </div>
    </div>

    <h2 class="display-5 mt-3">Reviews</h2>
    <hr>
    <div class="row mt-2">
        <div class="col">
            <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">UserImg</th>
                    <th scope="col">User</th>
                    <th scope="col">Username</th>
                    <th scope="col">Ball</th>
                  </tr>
                </thead>
                {% for izoh in kitob.izohlar.all %}
                <tbody>
                  <tr style="font-size: 20px;">
                    <th scope="row">{{izoh.id}}</th>
                    <th><img src="{{izoh.user.img.url}}" alt="bu yerda rasm" style="width: 100px; border-radius: 50%;"></th>
                    <td>{{izoh.user}}</td>
                    <td>{{izoh.user.last_name}}  {{izoh.user.first_name}}</td>
                    <td>
                        <p style="font-size: 25px; font-weight: 900; color: yellow;">{{izoh.start_give}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="5" rowspan="2" style="font-size: 20px; color: rgb(5, 242, 255);"><span style="color: chartreuse;">Comment_text:</span> {{izoh.comment_text}} <i style="color: rgb(255, 6, 105);">{{izoh.create_at}}</i></td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
        </div>
       
    </div>
  
</div>
{% endblock  %}